data/**/*.xlsx filter=lfs diff=lfs merge=lfs -text
projects/**/*.docx filter=lfs diff=lfs merge=lfs -text
projects/**/*.xlsx filter=lfs diff=lfs merge=lfs -text
projects/**/data/**/*.csv filter=lfs diff=lfs merge=lfs -text
